<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9a7209e4cb.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="static/css/main2.css">
<style>


</style>

    </head>
    <body>
<div class="main-bar">
      <nav>
        <span></span>
        <div class="logo-header">
        <img src="static/lo.jpg" alt="">
          <h2 class="logo">Student</h2>
          <h2 class="logo1">NODUE</h2>
      </div>
            <ul>
                <li class="active"><a  href="#">HOME</a></li>
                <li><a  href="index">LOGIN</a></li>
                <li><a  href="adminlogin">ADMIN</a></li>
                <li><a  href="contact">CONTACT US</a></li>
            </ul>
      </nav> 
    </div>
      <section id="home">
        <h2>Enhance Your Future With ABBS</h2>
        <p>To provide relevant education, consistent with the changing world, by integrating the best faculty and infrastructure to enable students to stand the test of time and be of utmost benefit to society.</p>

        <div class="btn">
            <a class="blue" href="index"  >Login</a>
            <a class="yellow" href="contact">Visit Contact Us</a>
        </div>
      </section>
      <section id="features">
        <h1>Awesome Features</h1>
        <p>Aspire. Accelerate. Achieve</p>
        <div class="fea-base">
          <div class="fea-box">
            <i class="fa-solid fa-award"></i>
            <h3>Placement Facility</h3>
            <p>The institute maintains an excellent placement record and has a comprehensive training and placement programme to ensure the success of its students in their chosen careers</p>
          </div>
          <div class="fea-box">
            <i class="fa-solid fa-graduation-cap"></i>
            <h3>Scholarship Facility</h3>
            <p>The institute provides scholarship facilities to ensure support for the students education</p>
          </div>
          <div class="fea-box">
            <i class="fa-solid fa-award"></i>

            <h3> Quality Policy</h3>
            <p>To create an ambience which inspires professional learning and provide excellent infrastructure and faculty with both academic and industrial experience</p>
          </div>
        </div>
      </section>

      <section id="course">
        <h1>Popolar Courses</h1>
        <p>Aspire. Accelerate. Achieve</p>
        
        
        <div class="course-box">


          <div class="courses">
            <img src="/static/bca.jpg" alt="">
            <div class="details">
              <h6>Bachelors of Computer Applications</h6>
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>

          
          <div class="courses">
            <img src="/static/bcom.jpg" alt="">
            <div class="details">
              <h6>Bachelors of Commerce</h6>
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="courses">
            <img src="/static/bsc.jpg" alt="">
            <div class="details">
              <h6>Bachelors of Science</h6>
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        
      </section>
      <section style="margin-top: -120px;" id="collages">
        <h1>Collage Overview</h1>
        <p>Aspire. Accelerate. Achieve</p>
        
        
        <div class="coll-box">


          <div class="coll">
            <img src="/static/abbs2.jpg" alt="">
          </div>

          
          <div class="coll">
            <img src="/static/abbs3.jpg" alt="">
          </div>
          <div class="coll">
            <img src="/static/abbs1.jpg" alt="">
          </div>
          <div style="margin-top: -120px;height:390px;" class="coll">
            <img src="/static/abbs4.jpg" alt="">
          </div>
          <div style="margin-top: -120px;height:390px;"  class="coll">
            <img src="/static/abbs5.jpg" alt="">
          </div>
          <div style="margin-top: -120px;height:390px;"  class="coll">
            <img src="/static/abbs6.jpg" alt="">
          </div>

        </div>        
      </section>

      <section style="margin-top: -30px;" id="project">
        <h1>Student Nodue Certificate System</h1>
        <p>Project Description</p>
        <div class="pro-base">
          <div class="pro-box">
            <h3>Abstract</h3>
            
            <p>Student No Due Certificate Tool is aimed to develop an application based on providing a No Due Certificate (NDC) to the students by all the department faculties. This system reduces the manual time consumption for the students and faculties. There is no required for the students to stand in front of department to get no due certificate but instead it can be done online through this application. This system also reduces the burden of the faculties and this make easier for all the departmental faculties to check the status of the students and report it accordingly, instead of recording it manually. Therefore, this application is focusing on developing a no due certificate which will generate computerized no due form showing the dues status.</p>
          </div>
        </div>
      </section>

      <br><br>
<footer>
  <div class="footer-col">
    <h3>Front end</h3>
    <li><i class="fa-brands fa-python"></i>Python</li>
    <li><i class="fa-brands fa-python"></i>Django</li>
    <li><i class="fa-brands fa-html5"></i>HTML</li>
    <li><i class="fa-brands fa-css3"></i>CSS</li>
    <li><i class="fa-brands fa-js"></i>Java Script</li>
  </div>
  <div class="footer-col">
    <h3>Back end</h3>
    <li><i class="fa-solid fa-database"></i>MySQL</li>
   
  </div>
  <div class="footer-col">
    <h3>IDE</h3>
    <li><i class="fa-solid fa-code"></i>VS Code</li>
  </div>
  <div class="footer-col">
    <h3>Referenses</h3>
    <li><i class="fa-brands fa-internet-explorer"></i>Website</li>
    <li><i class="fa-solid fa-book"></i>Books</li>
  </div>
  <div class="footer-col">
    <h3>Guided By</h3>
    <p><i class="fa-solid fa-circle-user"></i>Mr.Praveen Kumar(HOD)</p>
  </div>
</footer>
    </body>
</html>