<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://kit.fontawesome.com/9a7209e4cb.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="static/css/main2.css">
    </head>
    <body>
        <div class="main-bar">
            <nav>
              <span></span>
              <div class="logo-header">
              <img src="static/lo.jpg" alt="">
                <h2 class="logo">Student</h2>
                <h2 class="logo1">NODUE</h2>
            </div>
                  <ul>
                      <li class="active"><a  href="#">HOME</a></li>
                      <li><a  href="nodue">Apply for NoDue</a></li>
                      <li><a  href="noduestatus">NoDue Status</a></li>
                      <li><a  href="signout">Logout</a></li>

                      <!-- <li><a  href="contact">CONTACT US</a></li> -->
                  </ul>
            </nav> 
          </div>
        
        <script src="" async defer></script>
    </body>
</html>

