<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/vish1.css">
        <script src="https://kit.fontawesome.com/9a7209e4cb.js" crossorigin="anonymous"></script>
      <style>
        .navbar .active {
    color:white;
    background-color:rgb(248, 242, 242);
    border:.2rem solid #29d9d5 ;
    border-radius: 14px;
   }
      </style>
    </head>
    <body>
        <header class="header">

            
            <a href="#" class="logo"><i class="fa-solid fa-paper-plane"></i>SAT</a>

            <nav class="navbar">
              <a class="active" href="vish">Home</a>
              <a  href="vishlogin">Faculty</a>
              <a href="vishstudlogin">Student</a>
              <a href="vishadmin">Admin</a>
              <a href="#">About</a>
              <a href="#">Contactus</a>   
          </nav>
        </header>


        
        <section  class="home" id="home">
            <div class="content">
                <span>Follow us</span>
                <h3>to unknown</h3>
                <p>sat answertbnd</p>
                <a href="vishlogin" class="btn">LOGIN</a>
            </div>
        </section>



        <footer style="margin-top: 700px;">
            <div class="footer-col">
              <h3>Front end</h3>
              <li><i class="fa-brands fa-python"></i>Python</li>
              <li><i class="fa-brands fa-python"></i>Django</li>
              <li><i class="fa-brands fa-html5"></i>HTML</li>
              <li><i class="fa-brands fa-css3"></i>CSS</li>
              <li><i class="fa-brands fa-js"></i>Java Script</li>
            </div>
            <div class="footer-col">
              <h3>Back end</h3>
              <li><i class="fa-solid fa-database"></i>MySQL</li>
             
            </div>
            <div class="footer-col">
              <h3>IDE</h3>
              <li><i class="fa-solid fa-code"></i>VS Code</li>
            </div>
            <div class="footer-col">
              <h3>Referenses</h3>
              <li><i class="fa-brands fa-internet-explorer"></i>Website</li>
              <li><i class="fa-solid fa-book"></i>Books</li>
            </div>
            <div class="footer-col">
              <h3>Guided By</h3>
              <p><i class="fa-solid fa-circle-user"></i>Mr.Praveen Kumar(HOD)</p>
            </div>
          </footer>
      <footer>
        <!-- <section class="footer">
            <div class="box-container">
                <div class="box">
                    <a href="#" class="logo"><i class="fa-solid fa-paper-plane"></i>SAT</a>
                    <p>drfgh</p>
            
                </div>
            
            <div class="box">
                <h3>Contact Info</h3>
                <p><i class="fas fa-map"></i>Bangalore,India</p>
                <p><i class="fas fa-phone"></i>7892147402</p>
                <p><i class="fas fa-envelope"></i>vish@gmail.com</p>
            </div>
           
            </div>
        </section>
        <div class="credit">created by <span>mr.BM Vishwas</span></div>
      </footer> -->
        <script src="" async defer></script>
    </body>
</html>