@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,100&family=Fira+Sans+Condensed:ital,wght@0,300;0,400;1,200&family=Inconsolata:wght@700&family=Kaushan+Script&family=Lobster&family=Mochiy+Pop+One&family=Oswald&family=Secular+One&family=Tiro+Gurmukhi&family=Uchen&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn{
    position: absolute;
    margin-top: 20px;
    left: 80px;
    height: 45px;
    width: 50px;
    text-align: center;
    background: transparent;
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn.click{
    left: 270px;
}
.btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
}
.btn.click span:before{
    content: '\f00d';

}
.design{
    background-color: white;
    width: 100%;
    height: 74px;
    position: absolute;
}
.logo{
    color: #0c3e64;
    font-size: 20px;
    align-items: top;
    font-weight: lighter;
    font-family: 'Lobster', cursive;
margin-left: 340px;
    padding-right: 30px;
    float: left;
    margin-top: 8px;
    padding-bottom: 20px;
    position: absolute;
    
}.logo1{
    color: #1d5a89;
    font-size: 40px;
    align-items: top;
    font-family: 'Lobster', cursive;
margin-left: 330px;
margin-top: 20px;
    padding-right: 30px;
    float: left;
    padding-bottom: 20px;
    position: absolute;
}

.sidebar{
    position: fixed;
    width: 280px;
    height: 100%;
    margin-top: 40px;
    left: -350px;
    background: #0c3e64;
    transition:left 0.4s ;
}
.sidebar.show{
    left: 0px;
}
.sidebar .text{
    /* color: rgb(67, 63, 63); */
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align:center;
    color: white;
    border-bottom: 1px solid black;
    background: rgb(67, 63, 63);
    letter-spacing: 1px;
}
nav ul{
    background: rgb(67, 63, 63);
    height: 100%;
    color: white;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left:3px solid transparent ;

}
nav ul li a:hover{
    color: cyan;
    background: #1e1e1e;
    border-left-color:cyan ;
}
nav ul li .active a{
    color: cyan;
    background: #1e1e1e;
    border-left-color:cyan ;

}
nav ul ul{
    position: static;
    display: none;

}
nav ul .student-show.show{
    display: block;

}
nav ul .year-show.show2{
    display: block;

}
nav ul .bcom-show.show1{
    display: block;
}
nav ul .nodue-show.show3{
    display: block;

}
nav ul .bsc-show.show4{
    display: block;

}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;

}
nav ul ul li a{
    font-size: 17px;
    color: white;
    padding-left: 80px;
}
nav ul li .active ul li a{
    color: white;
    background: rgb(67, 63, 63);
    border-left-color:transparent ;

}
nav ul ul li a:hover{
    color: cyan!important;
    background: #1e1e1e!important;
}

nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
    
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

    .empty{
        background-color: rgb(67, 63, 63);
        height: 60px;
        margin-top: 20px;
        position: absolute;
        /* background-color: pink; */
        width:100%;
        height:60px;
        margin-top: 70px;
        /* position:absolute; */
    }
    .desi h1{
        margin-top: 10px;
        margin-left: 1115px;
        font-size: 20px;
        text-align: center;
        color: #1e1e1e;
        position: absolute;
    }
    .desi h2{
        margin-top: 33px;
        margin-left: 1115px;
        font-size: 14px;
        font-weight: bold;
        color: #1e1e1e;
        text-align: center;
        position: absolute;
    }
    .desi h4{
        margin-top: 90px;
        margin-left: 590px;
        font-size: 30px;
        font-weight:bold;
    color: whitesmoke;
        text-align: center;
        position: absolute;
    }