@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,100&family=Fira+Sans+Condensed:ital,wght@0,300;0,400;1,200&family=Inconsolata:wght@700&family=Kaushan+Script&family=Mochiy+Pop+One&family=Oswald&family=Secular+One&family=Tiro+Gurmukhi&family=Uchen&display=swap');

/* body{                                       stud reg
  
  font-family: 'sira',sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  text-align: center;

  
}  */
.container{
   background-color:whitesmoke;
   border-radius: 5px;
   margin-left: 300px;
   margin-top: 20px;
   margin-block: 1px;
   align-items: center;
   min-height: 90vh;
   margin-right: 50px;
   justify-items: center;
   box-shadow: 2px 6px 6px 6px rgba(0,0,0,0.3);
   width: 900px;     
}
.header{
   padding: 10px 10px;
   border-bottom: 2px solid #1e1e1e;
   background-color: #f7f7f7;   
}
.header h1{
   /* margin: 0; */
   margin-left: 250px;
   

}
.form{
    padding: 20px 30px;
}
.form-control{
   margin-bottom: 10px;
   padding-bottom: 20px;
   position: relative;
}
.form-control input{
   width: 40%;
   padding: 10px 20px;
   outline: none;
   border: 1px solid #607d8b;
   font-size: 14px;
   letter-spacing: 1px;
   background: transparent;
   border-radius: 20px;
   color: #607d8b;


}
.form-control .sel1{

   
   margin-bottom: 4px;
   margin-top: 1px;

   width: 18%;
   padding: 10px 20px;
   outline: none;
   border: 1px solid #607d8b;
   font-size: 13px;
   letter-spacing: 0.1px;
   background: transparent;
   border-radius: 20px;
   position:absolute;
   color: #607d8b;
   

}
/* .form-control .sel2{
   margin-left: 22%;
   margin-bottom: 4px;
   margin-top: 1px;
   width: 18%;
   padding: 10px 20px;
   outline: none;
   border: 1px solid #607d8b;
   font-size: 13px;
   letter-spacing: 1px;
   background: transparent;
   border-radius: 20px;
   position:relative;
   color: #607d8b;
 

} */
/* .form-control.success input{
   border-color: green;

}
.form-control.error input{
border-color: red;
}
.form-control.success i.fa-check-circle{
   visibility: visible;
   color: green;
}

.form-control.error i.fa-exclamation-circle{
   visibility: visible;
   color: red;
}
.form-control.error small{
   visibility: visible;
   color: red;
} */

.form-control i{
   position: absolute;
   top: 10px;
   right: 30px;
}
.form-control.success input{
   border: 2px solid green;
}
.form-control.error input{
   border: 2px solid red;
}
.form-control small{
   position: absolute;
   bottom: 0;
   color: red;
   margin-left: 20px;
   visibility: hidden;
   left: 0;
}
.submit-btn{
   background-color: #1b1b1b;
   color: whitesmoke;
   width: 130px;
   border: 2px solid #1e1e1e;
   height: 35px;
   border-radius: 30px;
   font-size: 12px;
   font-weight: bolder;
   margin-left: -200px;
   text-align: center;
   justify-content: center;
} 

.imgbx{
   position: absolute;
   

   height: 80%;
   margin-left: 850px;

}

.imgbx img{
   position: relative;
   top: 120px;
  right: 120px;
   width: 400px;
   height: 70%;
   
} 